.sub-heading {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #fff;
}

.tech-logos {
  font-size: 60px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat((8, 1fr));
  grid-gap: 50px;

  img {
    height: 60px;
    width: auto;
  }
}

@media screen and (max-width: 990px) {
  
  .tech-logos {
    font-size: 45px;

    img {
      height: 45px;
      width: auto;
    }    
  }
}
